<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout/Template}">
<head th:replace="Layout/Template :: head">
<meta charset="UTF-8">



<title>Home</title>

</head>
<body>




	<!-- Page Content -->
	<div class="container-fluid" layout:fragment="page-content">

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4"></div>

				<br>
					<div class="row row-cols-1 row-cols-md-3 g-4">
					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-success ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6> Imagenes</h6>
									<p class="ms-card-change"  th:text=${imagentotal}>
									</p>
									<p class="fs-12">total de imagenes</p>
								</div>
							</div>
							<i class="flaticon-reuse"></i>
						</div>
					</div>


					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-secondary ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Clientes</h6>
									<p class="ms-card-change" th:text=${total}>$80,950</p>
									<p class="fs-12">total de clientes</p>
								</div>
							</div>
							<i class="flaticon-user"></i>
						</div>
					</div>



					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-warning ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Habitacion</h6>
									<p class="ms-card-change" th:text=${totalhabi}>
										<i class="material-icons">arrow_upward</i> 4567
									</p>
									<p class="fs-12">total de habitaciones</p>
								</div>
							</div>
							<i class="flaticon-stats"></i>
						</div>
					</div>


					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-info ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Habitacions Disponibles</h6>
									<p class="ms-card-change" th:text=${habidispo}>$80,950</p>
									<p class="fs-12">total de habitaciones dispoibles</p>
								</div>
							</div>
							<i class="flaticon-statistics"></i>
						</div>
					</div>

				</div>





				<div id="mytask-layout" class="theme-indigo">


					<!-- main body area -->
					<div class="main px-lg-4 px-md-4">

						<!-- Body: Header -->
						<div class="header">
							<nav class="navbar py-4">
								<div class="container-xxl">




									<!-- menu toggler -->


									<!-- main menu Search-->


								</div>
							</nav>
						</div>

						<!-- Body: Body -->
						<div class="body d-flex py-lg-3 py-md-2">

							<div class="card border-0 mb-4 no-bg">
								<div
									class="card-header py-3 px-0 d-flex align-items-center  justify-content-between border-bottom">
									<h3 class=" fw-bold flex-fill mb-0">Imagenes</h3>
									<div class="col-auto d-flex">

										<button type="button" class="btn btn-dark ms-1 "
											data-bs-toggle="modal" data-bs-target="#createproject">
											<i class="icofont-plus-circle me-2 fs-6"></i> Imagen
										</button>


									</div>
								</div>


								<br>

								<style>
.contenedor {
	width: 100%;
	display: flex;
	align-items: center;
}
</style>
								<script type="text/javascript">
									function clearSearch() {
										window.location = "[[@{/role}]]";
									}
								</script>
								<form th:action="@{/imgHabitacion}">
									<div class="contenedor">
										<label>Buscar: <input type="text"
											class="form-control form-control-sm" placeholder=""
											aria-controls="myProjectTable" name="palabra" id="palabra"
											th:value="${palabra}" required>
										</label>&nbsp;
										<button class="btn btn-dark ms-1 " type="button" id="btnClear"
											onclick="clearSearch()">
											<i class="flaticon-reuse"></i> Limpiar
										</button>
									</div>

								</form>
								<br>
								<!-- dentro tabla -->


								<div
									class=" row g-3 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 row-deck py-1 pb-4">
									<th:block th:each="imagen:${imageneshabitaciones}"
										th:object="${imagen}">
										<div class="imgca">
											<div class="card">

												<div class="card-body">
													<div class="new-arrival-product">
														<div class="new-arrivals-img-contnent">
															<img class="img-fluid"
																th:src="@{/assets/{filename}(filename=*{rutaimagenhabi})}"
																alt="">
														</div>
														<div class="new-arrival-content text-center mt-3">
															<h4>
																<a th:text="${imagen.nombre}"></a>
															</h4>
															<a type="button" class="btn btn-outline-secondary eBtn"
																th:href="@{imgHabitacion/findOne/(id=${imagen.id})}"
																data-bs-toggle="modal" data-bs-target="#depedit"><i
																class="icofont-edit text-success"></i>Editar</a> <a
																type="button"
																th:href="@{imgHabitacion/delete/{id} (id=${imagen.id}) }"
																class="btn btn-outline-secondary deleterow"> <i
																class="icofont-ui-delete text-danger"></i>Eliminar
															</a>





															<div class="modal fade" id="deleteproject" tabindex="-1"
																aria-hidden="true">
																<div
																	class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title  fw-bold"
																				id="deleteprojectLabel">Desabilitar la imagen?</h5>
																			<button type="button" class="btn-close"
																				data-bs-dismiss="modal" aria-label="Close"></button>
																		</div>
																		<div
																			class="modal-body justify-content-center flex-column d-flex">
																			<i
																				class="icofont-ui-delete text-danger display-2 text-center mt-2"></i>
																			<p class="mt-4 fs-5 text-center">Estas seguro de desabilitar la imagen</p>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary"
																				data-bs-dismiss="modal">Cancel</button>
																			<td><a class="btn btn-danger"
																				th:href="@{imgHabitacion/delete/{id} (id=${imagen.id}) }">Eliminar</a>
																			</td>

																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
								</div>
								</th:block>

								<!-- dentro tabla -->

							</div>

							<!-- Add Department-->
							<form class="needs-validation clearfix was-validated"
								novalidate="" action="" method="post" th:object="${imagen}"
								enctype="multipart/form-data">
								<div class="modal fade" id="createproject" tabindex="-1"
									aria-hidden="true">
									<div
										class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title  fw-bold" id="createprojectlLabel">
													Registrar Imagen</h5>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>

											</div>
											<div class="modal-body">

												<div class="mb-3">
													<label for="validationCustom24" class="form-label">Nombres</label>
													<div class="input-group">
														<input type="text" class="form-control"
															placeholder="Ingrese su nombre" required=""
															th:field="*{nombre}">
														<div class="invalid-feedback">Por favor ingresar su
															nombre</div>
													</div>
												</div>
<div class="mb-3">
								<label for="formFileMultipleoneone" class="form-label">Imagen</label>
								<div class="input-group">
									<input class="form-control" type="file" required=""
										th:field="*{imghabitacion}">
									<div class="invalid-feedback">Por favor ingresar la
										imagen</div>
								</div>
							</div>

												<div class="deadline-form">


													<div class="deadline-form"></div>


													<div class="modal-footer">
														<input type="reset" value="Borrar" class="btn btn-danger">

														<button class="btn btn-secondary  " type="submit">
															</i> Guardar
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>
								</div>
							</form>


							<!-- dentro tabla -->


							<!-- editar -->
							<div class="myForm">
								<form action="" method="post" th:object="${imagen}" 	enctype="multipart/form-data"
									class="needs-validation clearfix was-validated" novalidate="">
									<!-- Edit Department-->
									<div class="modal fade" id="depedit" tabindex="-1"
										style="display: none;" aria-hidden="true">
										<div
											class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title  fw-bold" id="depeditLabel">
														Roles Editar</h5>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">

													<input id="id" th:field="*{id}" type="hidden" value=""
														name="id" class="form-control">


													<div class="mb-3">
														<label for="exampleFormControlInput11111"
															class="form-label">Nombre</label> <input id="name"
															placeholder="Ingrese el nombre" required=""
															th:field="*{nombre}" type="text" value="" name="name"
															class="form-control">
														<div class="invalid-feedback">Por favor ingresar el
															nombre</div>
													</div>

															<div class="mb-3">
									<label for="formFileMultipleoneone" class="form-label">Imagen</label>
									<div class="input-group">
										<input class="form-control" type="file"
											th:field="*{imghabitacion}">

									</div>
								</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Cancelar</button>
													<button type="submit" class="btn btn-primary">Guadar</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<!-- editar -->




						</div>
					</div>
				</div>
		</div>
	</div>
	</div>



</body>
</html>