<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{listax/parche.html}">
<head>
<meta charset="utf-8">
<title>Administrar Películas</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
	rel="stylesheet" />
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" href="/datepicker/jquery.datetimepicker.min.css">



</head>
<body>

	<div layout:fragment="content" class="container-fluid ">
		<div id="layoutSidenav_content">
			<main>
				<br>
				<style>
.efe {
	color: rgb(33, 97, 140);
}
</style>
				<div class="col-lg-12">
					<div class="card">
						<div class="modal-header">
							<h5 class="modal-title  fw-bold" id="createprojectlLabel">
								Detalles de la Habitacion Reservar</h5>

							<a type="button" class="btn-close" th:href="@{/reservas}"></a>
						</div>
						<div class="card-body">
							<th:block th:object="${habitacion}">



								<div class="row">
									<div class="col-xl-4 mb-3">
										<div class="example">
											<p class="mb-1 efe fw-bold mb-0 " style="font-size: 20px">
												N⁰ HABITACION: <span
													class="item card-title card-intro-title"
													style="font-size: 20px" th:text="*{nombre}"></span>
											</p>
										</div>
									</div>

									<div class="col-xl-4 mb-3">
										<div class="example">
											<p class="mb-1 efe fw-bold mb-0 " style="font-size: 20px">
												N⁰ INVITADOS: <span class="item card-title card-intro-title"
													style="font-size: 20px" th:text="*{invitados}">S101</span>
											</p>
										</div>
									</div>
									<div class="col-xl-4 mb-3">
										<div class="example">
											<p class="mb-1 efe fw-bold mb-0 " style="font-size: 20px">
												PRECIO: <span class="item card-title card-intro-title"
													style="font-size: 20px" th:text="*{precio}">S101</span>
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-4 mb-3">
										<div class="example">
											<p class="mb-1 efe fw-bold mb-0 " style="font-size: 20px">
												CARACTERISTICAS: <span
													class="item card-title card-intro-title"
													style="font-size: 20px">
													<td th:each="cara : *{caracteristica}"
													th:text="${cara.nombre}+','"></td>

												</span>
											</p>
										</div>
									</div>
									<div class="col-xl-4 mb-3">
										<div class="example">
											<p class="mb-1 efe fw-bold mb-0 " style="font-size: 20px">
												N⁰ Estado: <span class="item card-title card-intro-title"
													style="font-size: 20px" th:text="*{estado}">S101</span>
											</p>
										</div>
									</div>
									<div class="col-xl-4 mb-3">
										<div class="example">
											<p class="mb-1 efe fw-bold mb-0 " style="font-size: 20px">
												TIPO: <span class="item card-title card-intro-title"
													style="font-size: 20px" th:text="*{idTipo.nombre}">S101</span>
											</p>
										</div>
									</div>
								</div>
						</div>
					</div>






					<div class="alert alert-warning notification">
						<p class="notificaiton-title mb-2">
							<strong><i class="icofont-alarm"></i></strong> Recordar en caso
							que cancele la reserva el pago adelantado no se
							reembolsara.Gracias
						</p>

					</div>


					</th:block>




					<form class="row g-3 p-3" 
						method="post" th:object="${reservadoF}">

						<div class="col-6">
							<label class="text-label">Cliente</label>

							<div class="input-group">
								<span class="input-group-text"> <i class="fa fa-user"></i>
								</span> <select class="form-select" id="inputGroupSelect04"
									th:field="*{clientes}" name="webmenu" is="ms-dropdown"
									aria-label="Example select with button addon">
									<option th:each="tipo : ${clientes}"
										th:value="${tipo.id_cliente}" th:text="${tipo.dni}"></option>
								</select>
								<div class="input-group-append">
									<button class="btn btn-warning" type="button"
										data-bs-toggle="modal" data-bs-target="#createproject">+</button>
								</div>
							</div>

						</div>

						<div class="col-md-3">
							<label for="validationDefault02" class="form-label">Adultos
							</label> <input class="form-control" th:field="*{adultos}" required="">
						</div>
						<input type="hidden" th:name="reservaedit" id="reservaedit"
								th:value="reservaedit">
						<div class="col-md-3">
							<label for="validationDefault02" class="form-label">Niños
							</label> <input class="form-control" th:field="*{niños}" required="">
						</div>


						<div class="col-md-3">
							<label for="validationDefault02" class="form-label">Adelanto(Opcional)
							</label> <input class="form-control" th:field="*{adelanto}">
						</div>


						<div class="col-md-3">
							<th:block th:object="${habitacion}">
								<label for="validationDefault02" class="form-label">Total
									a Pagar </label>
								<div class="input-group">
									<input th:value="*{'$/.'+precio}" disabled class="form-control">
									<div class="invalid-feedback"></div>
								</div>
							</th:block>
						</div>




						<div class="col-md-6">
							<label for="validationDefault02" class="form-label">Fecha
								Entrada </label> <input class="form-control" type="date"
								th:field="*{fechaInicio}" required="">
						</div>


						<div class="col-md-6">
							<label for="validationDefault02" class="form-label">Fecha
								Salida </label> <input type="date" th:field="*{fechaFin}"
								class="form-control" required="">
						</div>




						<div class="col-md-12">

							<button type="submit" class="btn btn-secondary">Reservar</button>
						</div>

					</form>





					<!-- Create Client-->

					<form class="needs-validation clearfix was-validated" novalidate=""
						action="" method="post" th:object="${cliente}"
						enctype="multipart/form-data">
						<div class="modal fade" id="createproject" tabindex="-1"
							aria-hidden="true">
							<div
								class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title  fw-bold" id="createprojectlLabel">
											Registrar Cliente</h5>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">

										<div class="mb-3">
											<label for="validationCustom24" class="form-label">Nombres</label>
											<div class="input-group">
												<input type="text" class="form-control"
													placeholder="Ingrese su nombre" required=""
													th:field="*{nombre}">

											</div>
										</div>


										<div class="mb-3">
											<label for="exampleFormControlInput977" class="form-label">Apellidos</label>
											<div class="input-group">
												<input type="text" class="form-control"
													placeholder="Ingrese sus apellidos" th:field="*{apellido}">

											</div>
										</div>
										<div class="mb-3">
											<label for="validationCustom20">Dni</label>
											<div class="input-group">
												<input type="number" class="form-control" required=""
													th:name="dni" id="dni" placeholder="74399560" maxlength="8"
													oninput="if(this.value                                             .length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
													th:field="*{dni}">

											</div>
										</div>


										<div class="deadline-form">
											<form>

												<div class="mb-3">
													<label for="validationCustom20">Email Address</label>
													<div class="input-group">
														<input type="email" class="form-control"
															placeholder="example@gmail.com" th:field="*{email}">

													</div>
												</div>
											</form>


											<div class="deadline-form">


												<div class="row g-3 mb-3">
													<div class="col">
														<label for="validationCustom20">Telefono</label>
														<div class="input-group">
															<input type="number" class="form-control"
																placeholder="987654321" maxlength="9"
																oninput="if(this.value                                             .length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
																th:field="*{telefono}">

														</div>
													</div>




													<div class="col">
														<label for="validationCustom20">Fecha Nacimiento</label>
														<div class="input-group">
															<input type="date" class="form-control"
																th:field="*{fechaNacimiento}">

														</div>
													</div>
												</div>
											</div>


											<div class="modal-footer">
												<input type="reset" value="Borrar" class="btn btn-danger">


												<input type="submit" class="btn btn-secondary"
													value="agregar" />

											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
						</div>
					</form>
					<!-- crear cliente -->




				</div>
		</div>
	</div>



</body>
</html>