<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout/Template}">
<head>
<meta charset="UTF-8">

<title>Home</title>

</head>
<body>


	<!--<div th:include="Layout/Template.html::header></div>"  -->


	<!-- Page Content -->
	<div class="container-fluid" layout:fragment="page-content">

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4"></div>

				<br>
					<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-secondary ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Habitaciones</h6>
									<p class="ms-card-change" th:text=${totalhabi}>$80,950</p>
									<p class="fs-12">total de habitaciones</p>
								</div>
							</div>
							<i class="icofont-hotel"></i>
							
							
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-success ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Habitacion Disponible</h6>
									<p class="ms-card-change"  th:text=${habidispo}>
									</p>
									<p class="fs-12">total de habitaciones disponibles</p>
								</div>
							</div>
							<i class="icofont-hotel"></i>
						</div>
					</div>


					



					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-warning ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Habitacion Ocupada</h6>
									<p class="ms-card-change" th:text=${habiocupado}>
										<i class="material-icons">arrow_upward</i> 4567
									</p>
									<p class="fs-12">total de habitaciones ocupadas</p>
								</div>
							</div>
							
							<i class="icofont-hotel"></i>
						</div>
					</div>


					<div class="col-xl-3 col-md-6">
						<div
							class="ms-card card-gradient-info ms-widget ms-infographics-widget">
							<div class="ms-card-body media">
								<div class="media-body">
									<h6>Clientes </h6>
									<p class="ms-card-change" th:text=${clientestotla}>$80,950</p>
									<p class="fs-12">total de clientes </p>
								</div>
							</div>
							<i class="flaticon-user"></i>
						</div>
					</div>

				</div>


<i class=""></i>


				<!-- CA ------------------------------SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS-->


				<!-- Body: Body -->



				<!-- Row End -->


				<!-- Row End -->

				<div id="mytask-layout" class="theme-indigo">


					<!-- main body area -->
					<div class="main px-lg-4 px-md-4">

						<!-- Body: Header -->
						<div class="header">
							<nav class="navbar py-4">
								<div class="container-xxl">




									<!-- menu toggler -->


									<!-- main menu Search-->


								</div>
							</nav>
						</div>

						<!-- Body: Body -->
						<div class="body d-flex py-lg-3 py-md-2">

							<div class="card border-0 mb-4 no-bg">
								<div
									class="card-header py-3 px-0 d-flex align-items-center  justify-content-between border-bottom">
									<h3 class=" fw-bold flex-fill mb-0">HABITACIONES</h3>
									<div class="col-auto d-flex">

										<button type="button" class="btn btn-dark ms-1 "
											data-bs-toggle="modal" data-bs-target="#createproject">
											<i class="icofont-plus-circle me-2 fs-6"></i>Habitacion
										</button>

									</div>
								</div>
								<br>





								<style>
.contenedor {
	width: 100%;
	display: flex;
	align-items: center;
}
</style>


								<script type="text/javascript">
									function clearSearch() {
										window.location = "[[@{/habitaciones}]]";
									}
								</script>

								<form th:action="@{/habitaciones}">
									<div class="contenedor">
										<label>Buscar: <input type="text"
											class="form-control form-control-sm" placeholder=""
											aria-controls="myProjectTable" name="palabra" id="palabra"
											th:value="${palabra}" required>
										</label>&nbsp;
										<button class="btn btn-dark ms-1 " type="button" id="btnClear"
											onclick="clearSearch()">
											<i class="flaticon-reuse"></i> Limpiar
										</button>
									</div>



								</form>
								<br>
								<!-- Row End -->

								<div
									class="row g-3 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 row-deck py-1 pb-4">
									<th:block th:each="habitacion:${habitaciones}"
										th:object="${habitacion}">
										<div class="tablahabitacion">
											<div class="col">
												<div class="card teacher-card">
													<div class="card-body  d-flex">

														<div
															class="profile-av pe-xl-4 pe-md-2 pe-sm-4 pe-4 text-center w220">
															<img src="assets/images/lg/habitacion.jpg" alt=""
																class="avatar xl rounded-circle img-thumbnail shadow-sm">
															<input type="hidden" th:value="${habitacion.id}" /> <input
																type="hidden" th:value="${habitacion.nombre}" /> <input
																type="hidden" th:value="${habitacion.invitados}" /> <input
																type="hidden" th:value="${habitacion.estado}" /> <input
																type="hidden" th:value="${habitacion.imagenes}" /> <input
																type="hidden" th:value="${habitacion.caracteristica}" />
															<input type="hidden" th:value="${habitacion.idTipo}" />
															<div
																class="about-info d-flex align-items-center mt-1 justify-content-center flex-column">
																<h6 class="mb-0 fw-bold d-block fs-6 mt-2"
																	th:text="${habitacion.nombre}"></h6>

																<!-- caa -->
																<div class="btn-group mt-2" role="group"
																	aria-label="Basic outlined example">



																	<a type="button" class="btn btn-outline-secondary eBtn"
																		th:href="@{/habitaciones/edit/{id}(id=*{id})}"><i
																		class="icofont-edit text-success"></i>Editar</a>



																	<button type="button" class="btn btn-outline-secondary"
																		data-bs-toggle="modal" data-bs-target="#deleteproject">

																		<i class="icofont-ui-delete text-danger"></i>
																	</button>
																	<!-- esssssssssss el modal -->
																	<!-- Modal  Delete Folder/ File-->
																	<div class="modal fade" id="deleteproject"
																		tabindex="-1" aria-hidden="true">
																		<div
																			class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
																			<div class="modal-content">
																				<div class="modal-header">
																					<h5 class="modal-title  fw-bold"
																						id="deleteprojectLabel">Desabilitar la habitacion?</h5>
																					<button type="button" class="btn-close"
																						data-bs-dismiss="modal" aria-label="Close"></button>
																				</div>
																				<div
																					class="modal-body justify-content-center flex-column d-flex">
																					<i
																						class="icofont-ui-delete text-danger display-2 text-center mt-2"></i>
																					<p class="mt-4 fs-5 text-center">Estas seguro de esabilitar la habitacion?</p>
																				</div>
																				<div class="modal-footer">
																					<button type="button" class="btn btn-secondary"
																						data-bs-dismiss="modal">Cancel</button>
																					<td><a class="btn btn-danger"
																						th:href="@{habitaciones/delete/{id} (id=${habitacion.id}) }">Desabilitar</a>
																					</td>

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div
															class="teacher-info border-start ps-xl-4 ps-md-3 ps-sm-4 ps-4 w-100">
															<h6 class="mb-0 mt-2  fw-bold d-block fs-6"
																th:each="tipo : *{idTipo}" th:text="${tipo.nombre}"></h6>
															<!-- caa -->
															<span class="py-1 fw-bold small-11 mb-0 mt-1 text-muted"
																th:text="${habitacion.invitados}"></span>
															<!-- caa -->
															<div class="video-setting-icon mt-3 pt-3 border-top">
																<p th:text="${habitacion.descripcion}"></p>
																<!-- caca -->
															</div>
															<div
																class="d-flex flex-wrap align-items-center ct-btn-set">
																<a th:href="@{/habitaciones/editver/{id}(id=*{id})}" class="btn btn-dark btn-sm mt-1"><i
																	class="icofont-invisible me-2 fs-6"></i>Perfil</a>
															</div>
														</div>
													</div>
												</div>

											</div>
											<!-- Row end -->
										</div>
								</div>
								</th:block>
							</div>
							<!-- este es -->
						</div>

						<!-- Modal Members-->
					</div>





					<!-- Row end -->

				</div>
		</div>
		<!-- esssssssssssss el modal -->

		<!-- Create Client-->

		<form class="needs-validation clearfix was-validated" novalidate=""
			action="" method="post" th:object="${habitacion}"
			enctype="multipart/form-data">
			<div class="modal fade" id="createproject" tabindex="-1"
				aria-hidden="true">
				<div
					class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title  fw-bold" id="createprojectlLabel">
								Registrar Habitacion</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">

							<div class="mb-3">
								<label for="validationCustom24" class="form-label">Nombre</label>
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Ingrese su nombre" required=""
										th:field="*{nombre}">
									<div class="invalid-feedback">Por favor ingresar su
										nombre</div>
								</div>
							</div>

							<div class="deadline-form">


								<div class="row g-3 mb-3">
									<div class="col">
										<label for="validationCustom20">Invitados</label>
										<div class="input-group">
											<input type="number" class="form-control"
												th:field="*{invitados}" placeholder="1 a más" required=""
												maxlength="9"
												oninput="if(this.value                                             .length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
											<div class="invalid-feedback">Por favor ingresar su
												numero</div>
										</div>
									</div>


									<div class="col">
										<label for="validationCustom20">Precio</label>
										<div class="input-group">
											<input type="number" min="0.00" max="10000.00" step="0.01"
												placeholder="0.00" th:field="*{precio}" class="form-control"
												required="">
											<div class="invalid-feedback">Ingresar su Fecha de
												Nacimiento</div>
										</div>
									</div>
								</div>
							</div>



							<div class="mb-3">
								<label for="exampleFormControlInput977" class="form-label">Descripcion</label>
								<div class="input-group">
									<textarea type="text" class="form-control"
										placeholder="Ingrese sus apellidos" required=""
										th:field="*{descripcion}"></textarea>
									<div class="invalid-feedback">Por favor ingresar sus
										apellidos</div>
								</div>
							</div>

							<div class="deadline-form">
								<form>

									<div class="mb-3">
										<label for="validationCustom20">Tipo</label> 
										<select
											class="form-select" id="idTipo" th:field="*{idTipo}">
											<option selected disabled value="">Seleccione...</option>
											<option th:each="tipo : ${tipos}" th:value="${tipo.id_tipo}"
												th:text="${tipo.nombre}"></option>
										</select>


									</div>

									<div class="mb-3">
										<label for="validationCustom20">Estado</label> <select
											class="form-select" id="estado" th:field="*{estado}" required>
											<option selected disabled value="">Seleccione...</option>
											<option value="Disponible">Disponible</option>
											<option value="Ocupado">Ocupado</option>
											<option value="Mantenimiento">Mantenimiento</option>
										</select>
										<div class="invalid-feedback">Please select a valid
											state.</div>

									</div>

									<div class="mb-3">
										<label for="validationCustom20">Imagenes</label> <select
											class="form-select" id="imagenes" required
											th:field="*{imagenes}" multiple>
											<option th:each="img : ${imagenes}" th:value="${img.id}"
												th:text="${img.nombre}"></option>
										</select>


									</div>

									<div class="mb-3">
										<label for="validationCustom20">Caracteristicas</label> <select
											class="form-select" id="validationCustom04"
											th:field="*{caracteristica}" required multiple>

											<option th:each="caracteristica : ${caracteristicas}"
												th:value="${caracteristica.id}"
												th:text="${caracteristica.nombre}"></option>
										</select>
									</div>





								</form>



								<div class="modal-footer">
									<input type="reset" value="Borrar" class="btn btn-danger">

									<button class="btn btn-secondary  " type="submit">
										</i> Guardar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</form>
		<!-- crear cliente -->

		<!-- editar cliente -->
		<div class="myForm">
			<form class="needs-validation clearfix was-validated" novalidate=""
				action="" method="post" th:object="${habitacion}"
				enctype="multipart/form-data">
				<div class="modal fade" id="editproject" tabindex="-1"
					aria-hidden="true">
					<div
						class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title  fw-bold" id="createprojectlLabel">
									Editar Habitación</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">

								<div class="mb-3">
									<label for="validationCustom24" class="form-label">Nombre</label>
									<div class="input-group">
										<input type="text" class="form-control"
											placeholder="Ingrese su nombre" required=""
											th:field="*{nombre}">
										<div class="invalid-feedback">Por favor ingresar su
											nombre</div>
									</div>
								</div>

								<div class="deadline-form">


									<div class="row g-3 mb-3">
										<div class="col">
											<label for="validationCustom20">Invitados</label>
											<div class="input-group">
												<input type="number" class="form-control"
													th:field="*{invitados}" placeholder="1 a más" required=""
													maxlength="9"
													oninput="if(this.value                                             .length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
												<div class="invalid-feedback">Por favor ingresar su
													numero</div>
											</div>
										</div>


										<div class="col">
											<label for="validationCustom20">Precio</label>
											<div class="input-group">
												<input type="number" min="0.00" max="10000.00" step="0.01"
													placeholder="0.00" th:field="*{precio}"
													class="form-control" required="">
												<div class="invalid-feedback">Ingresar su Fecha de
													Nacimiento</div>
											</div>
										</div>
									</div>
								</div>



								<div class="mb-3">
									<label for="exampleFormControlInput977" class="form-label">Descripcion</label>
									<div class="input-group">
										<textarea type="text" class="form-control"
											placeholder="Ingrese sus apellidos" required=""
											th:field="*{descripcion}"></textarea>
										<div class="invalid-feedback">Por favor ingresar sus
											apellidos</div>
									</div>
								</div>

								<div class="deadline-form">
									<form>

										<div class="mb-3">
											<label for="validationCustom20">Tipo</label> <select
												class="form-select" id="idTipo" th:field="*{idTipo}">
												<option selected disabled value="">Seleccione...</option>
												<option th:each="tipo : ${tipos}" th:value="${tipo.id_tipo}"
													th:text="${tipo.nombre}"></option>
											</select>


										</div>

										<div class="mb-3">
											<label for="validationCustom20">Estado</label> <select
												class="form-select" id="validationCustom04"
												th:field="*{estado}" required>
												<option selected disabled value="">Seleccione...</option>
												<option value="Disponible">Disponible</option>
												<option value="Ocupado">Ocupado</option>
												<option value="Mantenimiento">Mantenimiento</option>
											</select>
											<div class="invalid-feedback">Please select a valid
												state.</div>

										</div>

										<div class="mb-3">
											<label for="validationCustom20">Imagenes</label> <select
												class="form-select" id="validationCustom04" required
												th:field="*{imagenes}" multiple>
												<option th:each="img : ${imagenes}" th:value="${img.id}"
													th:text="${img.nombre}"></option>
											</select>


										</div>

										<div class="mb-3">
											<label for="validationCustom20">Caracteristicas</label> <select
												class="form-select" id="validationCustom04"
												th:field="*{caracteristica}" required multiple>

												<option th:each="tipo : ${caracteristicas}"
													th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
											</select>
										</div>





									</form>



									<div class="modal-footer">
										<input type="reset" value="Borrar" class="btn btn-danger">

										<button class="btn btn-secondary  " type="submit">
											</i> Guardar
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>
			</form>
		</div>
		<!-- editar cliente -->

	</div>
	<!-- Page Content -->


	<script type="text/javascript">
		function clearSearch() {
			window.location = "[[@{/habitaciones}]]";
		}
	</script>

	<!-- Latest compiled and minified JavaScript -->




	</div>
</body>
</html>