<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout/Template}">
<head th:replace="Layout/Template :: head">
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" /> 
<title>Home</title>

</head>
<body>


	<!--<div th:include="Layout/Template.html::header></div>"  -->


	<!-- Page Content -->
	<div class="container-fluid" layout:fragment="page-content">
		 <div id="layoutSidenav_content">
		
		   <div class="dashboard-content px-3 pt-4">
                    <div class="card">
                    <div class="card-body">
                    <center>
                    <h1 class="fs-5"> Bienvenido  la pagina principal</h1>
                    </center>
                    </div>   
                    </div>
                    <br>
                    
                    <!--    CARD    -->
                    
                    <div class="row callout">                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6 ">
                            <div class="card border-success">
                                <div class="card-body">
                                    <h5 class="card-title text-success">Habitaciones Disponibles:</h5>
                                    <center>
                                    <h1><i class="fal fa-booth-curtain"></i> <strong th:text=${habidispo}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-warning">
                                <div class="card-body">
                                    <h5 class="card-title text-warning">Habitaciones Ocupadas:</h5>    
                                    <center>
                                    <h1><i class="fal fa-booth-curtain"></i> <strong  th:text=${habiocupado}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-danger">
                                <div class="card-body">
                                    <h5 class="card-title text-danger">Habitación en Mantenimiento:</h5>   
                                    <center>
                                    <h1><i class="fal fa-booth-curtain"></i> <strong th:text=${habiomanteni}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-dark">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">Total de Habitaciones:</h5> 
                                    <center>
                                    <h1><i class="fal fa-booth-curtain"></i> <strong th:text=${totalhabi}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>                        
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-success">
                                <div class="card-body">
                                    <h5 class="card-title text-success">Clientes total:</h5>  
                                    <center>
                                    <h1><i class="fal fa-clipboard-user"></i> <strong  th:text=${clientestotla}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-warning">
                                <div class="card-body">
                                    <h5 class="card-title text-warning">Empleados total:</h5>    
                                    <center>
                                    <h1><i class="fal fa-clipboard-user"></i> <strong th:text=${usuarr}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-danger">
                                <div class="card-body">
                                    <h5 class="card-title text-danger"> total Roles:</h5>  
                                    <center>
                                    <h1><i class="fal fa-clipboard-user"></i> <strong th:text=${rolex}></strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-6">
                            <div class="card border-dark">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">Habitación Reservadas:</h5>    
                                    <center>
                                    <h1><i class="fal fa-clipboard-user"></i></i> <strong>0</strong></h1>
                                    </center>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    
                    <br>
                    <!--    FIN CARD    -->
                    <p  style="font-size: 16px"  >El hotel Queen Lima Santa clara está en el centro del distrito Chosica de Lima,
                     Perú, a solo 18 km del Mall de Santa clara . Disfrute de las
                      actividades cercanas al hotel en el área de entretenimiento de Mall, que incluyen tiendas, restaurantes, teatro, museos y parques.
                    </p>
                    <p style="font-size: 16px" >
                
                    Todas las habitaciones del hotel Queen  fueron diseñadas para reflejar la frescura y hospitalidad con un toque de tradición peruana.
                     El hotel combina elementos arquitectónicos tradicionales peruanos del siglo XVIII con decoración contemporánea para crear el ambiente perfecto, 
                     ofreciendo al mismo tiempo el servicio impecable para quienes viajan por negocios o placer.
                    </p>
                    
                    
                </div>
                
            </div>
            
        </div>
		</div>

	</div>
	<!-- Page Content -->






	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- js -->
	<div th:replace="fragment.html :: script1"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous"></script>
	<script src="js/datatables-simple-demo.js"></script>
	</div>
</body>
</html>